@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');


:root {
  --background: #29335C;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ap-header {
  color: #fff;
  font-size: 36px;
  font-family: "Jersey 25";
}

.footer {
  display: flex;
  background-color: #669BBC;
}